.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-family: Verdana, sans-serif;
  text-align: center;
  gap: 16px;
  height: 100%;
}

.not-found .title {
  line-height: normal;
  font-size: xx-large;
  color: #ff4c4c;
}
.not-found .messagedz {
  font-size: large;
  color: #ccc;
}

.not-found .hint {
  font-size: 1em;
  color: #888;
}